<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Example</title>
</head>
<body>
<div>
    <form th:action="@{/persistMessage}" method="post">
        <textarea name="msg" cols="50" rows="2"></textarea>
        <br/><input type="submit" value="Add message to both cntexts"/>
    </form>
</div>
<div>
    <h2>Local session context</h2>
    <div th:text="${llMessagesCl}"></div>
    <ul th:each="message : ${llMessages}">
        <li th:text="${message}">msg</li>
    </ul>

    <h2>Clustered session context</h2>
    <div th:text="${clMessagesCl}"></div>
    <ul th:each="message : ${clMessages}">
        <li th:text="${message}">msg</li>
    </ul>

</div>
<div>
    <br/><br/><br/>
    <form th:action="@{/destroy}" method="post">
        <input type="submit" value="Destroy Session"/>
    </form>
</div>
</body>
</html>
